  

 <div  layout="row" flex>
 <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" data-ng-include=" 'bundles/templates/includes/sidebar.html' "></md-sidenav>
<div layout="column" class="full-width">
<md-toolbar layout="row" data-ng-include=" 'bundles/templates/includes/header.html' "></md-toolbar>

  <div class="app-content">
        <div ui-butterbar></div>
	      <div class="app-content-body fade-in-up" layout="column" flex id="content" class="app-content" ui-view></div>
	      </div>
</div>
</div>
 
