<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = true; 
    app.settings.asideDock = false;
  ">
  <!-- main -->
  <div class="col">
    <div class="bg-black dker wrapper-lg" ng-controller="RelatoriosDiariosController">
        
        <div ui-jq="plot" ui-refresh="d0_1" ui-options="
        [
          { data: {{d0_1}}, points: { show: true, radius: 2}, splines: { show: true, tension: 0.4, lineWidth: 1 } }
        ],
        {
          colors: ['{{app.color.info}}', '{{app.color.primary}}'],
          series: { shadowSize: 3 },
          xaxis:{ font: { color: '#507b9b' } },
          yaxis:{ font: { color: '#507b9b' }, max:16 },
          grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#1c2b36' },
          tooltip: true,
          tooltipOpts: { content: 'Visits of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
        }
      " style="min-height:360px" >
      </div>
    </div>
    <div class="wrapper-md bg-white-only b-b">
      <div class="row text-center">

      <div class="col-sm-3 col-xs-6">
          <div>Lucro <i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
          <div class="h2 m-b-sm">R$ 1.560</div>
        </div>
       
         <div class="col-sm-3 col-xs-6">
          <div>Vendas <i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
          <div class="h2 m-b-sm">R$ 14.760</div>
        </div>
         <div class="col-sm-3 col-xs-6">
          <div>Compras <i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
          <div class="h2 m-b-sm">R$ 26.220</div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div>Estoque <i class="fa fa-fw fa-caret-down text-danger text-sm"></i></div>
          <div class="h2 m-b-sm">R$ 65.520</div>
        </div>
      </div>
    </div>
    <div class="wrapper-md">
      <div class="row text-center">
        <div class="col-sm-3 col-xs-6">
          <div>Meta de Vendas</div>
          <div ui-jq="easyPieChart" ui-options="{
              percent: 75,
              lineWidth: 8,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.info}}',
              scaleColor: false,
              size: 115,
              rotate: 90,
              lineCap: 'butt'
            }" class="inline m-t">
            <div>
              <span class="text-primary h3">75%</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div>Meta em Promoçoes</div>
          <div ui-jq="easyPieChart" ui-options="{
              percent: 35,
              lineWidth: 8,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.info}}',
              scaleColor: false,
              size: 115,
              rotate: 0,
              lineCap: 'butt'
            }" class="inline m-t">
            <div>
              <span class="text-info h3">35%</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div>Meta dos Vendedores</div>
          <div ui-jq="easyPieChart" ui-options="{
              percent: 50,
              lineWidth: 8,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.info}}',
              scaleColor: false,
              size: 115,
              rotate: 180,
              lineCap: 'butt'
            }" class="inline m-t">
            <div>
              <span class="text-info h3">50%</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div>Meta dos Caixas</div>
          <div ui-jq="easyPieChart" ui-options="{
              percent: 60,
              lineWidth: 8,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.info}}',
              scaleColor: false,
              size: 115,
              rotate: 90,
              lineCap: 'butt'
            }" class="inline m-t">
            <div>
              <span class="text-info h3">60%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-md">
      <!-- users -->
      

      <div class="row">
        <div class="col-md-6">
           <div class="panel panel-default">
          <div class="panel-heading">Produtos</div>
          
          <div class="panel-body">
          <h4>Categorias mais vendidas</h4>
            <div ui-jq="plot" ui-options="
              {{d3}},
              {
                series: { pie: { show: true, innerRadius: 0.5, stroke: { width: 0 }, label: { show: true, threshold: 0.05 } } },
                colors: ['{{app.color.primary}}','{{app.color.info}}','{{app.color.success}}','{{app.color.warning}}','{{app.color.danger}}'],
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#000' },   
                tooltip: true,
                tooltipOpts: { content: '%s: %p.0%' }
              }
            " style="height:240px"></div>
            <h4>Produtos em Promoção</h4>
            <table class="table table-striped m-b-none">
          <thead>
            <tr>
              <th style="width:60px;" class="text-center">Histórico</th>
              <th>Produto</th>                    
              <th>Valor Total</th>                    
              <th style="width:70px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>                    
              <td>
                <div ng-init="data1=[ 1,3,2,0,0,1,2,0,0,2,5,4,5,3 ]" ui-jq="sparkline" ui-options="[1,3,2,0,0,1,2,0,0,2,5,4,5,3  ], {type:'bar', height:19, barWidth:4, barSpacing:2, barColor:'#27c24c'}" class="sparkline inline"><canvas width="52" height="19" style="display: inline-block; width: 52px; height: 19px; vertical-align: top;"></canvas></div>
              </td>
              <td>Umidificador de Ar Ultrasônico</td>
              <td>R$ 500</td>
              <td class="text-success">
                <i class="fa fa-level-up"></i> 40%
              </td>
            </tr>
            <tr>                    
              <td>
                <div ng-init="data1=[ 1,0,2,3,3,1,2,5,0,2,2,4,3,4 ]" ui-jq="sparkline" ui-options="[1,0,2,3,3,1,2,5,0,2,2,4,3,4  ], {type:'bar', height:19, barWidth:4, barSpacing:2, barColor:'#27c24c'}" class="sparkline inline"><canvas width="52" height="19" style="display: inline-block; width: 52px; height: 19px; vertical-align: top;"></canvas></div>
              </td>
              <td>Misturador para Cozinha de Mesa Pertutti</td>
               <td>R$ 1.500</td>
              <td class="text-success">
                <i class="fa fa-level-up"></i> 15%
              </td>
            </tr>
            <tr>                    
              <tr>                    
              <td>
                <div ng-init="data1=[ 1,2,0,3,3,0,2,0,2,4,0,2,3,1 ]" ui-jq="sparkline" ui-options="[1,0,2,3,3,1,2,4,4,2,4,3,2,1  ], {type:'bar', height:19, barWidth:4, barSpacing:2, barColor:'#27c24c'}" class="sparkline inline"><canvas width="52" height="19" style="display: inline-block; width: 52px; height: 19px; vertical-align: top;"></canvas></div>
              </td>
              <td>Cuba Redonda Vidro 35x35x13cm </td>
               <td>R$ 250</td>
              <td class="text-danger">
                <i class="fa fa-level-down"></i> 40%
              </td>
            </tr>
            <tr> 
            <tr>                    
              <td>
               <div ng-init="data1=[2,4,4,2,3,4,5,5,4,3,2,1,0,0]" ui-jq="sparkline" ui-options="[2,4,4,2,3,4,5,5,4,3,2,1,0,0], {type:'bar', height:19, barWidth:4, barSpacing:2, barColor:'#27c24c'}" class="sparkline inline"><canvas width="52" height="19" style="display: inline-block; width: 52px; height: 19px; vertical-align: top;"></canvas></div>
               
              </td>
              <td>Torneira de Mesa para Cozinha Bica Móvel Cromado</td>
               <td>R$ 0</td>
              <td class="text-danger">
                <i class="fa fa-level-down"></i> 20%
              </td>
            </tr>
          </tbody>
        </table>
          </div>
        </div>
          <br>
     
        </div>
        <div class="col-md-6">
           <div class="panel panel-default">
          <div class="panel-heading">Vendedores</div>
          <div class="panel-body">
          <h4>Ranking mensal</h4>
            <div ui-jq="plot" ui-options="
              {{d3_}},
              {
                series: { pie: { show: true, innerRadius: 0.5, stroke: { width: 0 }, label: { show: true, threshold: 0.05 } } },
                colors: ['{{app.color.primary}}','{{app.color.info}}','{{app.color.success}}','{{app.color.warning}}','{{app.color.danger}}'],
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#000' },   
                tooltip: true,
                tooltipOpts: { content: '%s: %p.0%' }
              }
            " style="height:240px"></div>
            <h4>Resumo Diário</h4>
            <table class="table table-striped m-b-none">
          <thead>
            <tr>
              <th style="width:60px;" class="text-center">Histórico</th>
              <th>Vendedor</th>                    
              <th>Valor</th>                    
            </tr>
          </thead>
          <tbody>
            <tr>                    
              <td>
               <div ng-init="data3=[ 16,15,15,14,17,18,16,15,16 ]" ui-jq="sparkline" ui-options="[16,15,15,14,17,18,16,15,16], {type:'line', height:19, width:60, lineColor:'#7266ba', fillColor:'#fff'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
              </td>
              <td>                <span class="label bg-success">1</span>
 Geraldo Fontana</td>
              <td > R$ 1800</td>

            </tr>
            <tr>                    
              <td>
               <div ng-init="data3=[ 16,15,15,14,17,18,16,15,12 ]" ui-jq="sparkline" ui-options="[ 14,11,15,15,16,14,15,13,12 ], {type:'line', height:19, width:60, lineColor:'#7266ba', fillColor:'#fff'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
              </td>
              <td> <span class="label bg-warning">2</span> Patrícia Messias</td>
              <td > R$ 1200</td>

            </tr>
            <tr>                    
              <tr>                    
              <td>
                 <div ng-init="data3=[ 13,14,15,13,12,11,14,12,11 ]" ui-jq="sparkline" ui-options="[ 13,14,15,13,12,11,14,12,11 ], {type:'line', height:19, width:60, lineColor:'#7266ba', fillColor:'#fff'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
              </td>
              <td> <span class="label bg-danger">3</span> Luiz de Souza </td>
              <td > R$ 800</td>
              
            </tr>
            <tr> 
           
          </tbody>
        </table>
          </div>
        </div>
          <br>
             
        </div>
        
      </div>
      <!-- / users -->
      <div class="row">
      <div class="col-md-6">
           <div class="panel panel-default">
          <div class="panel-heading">Clientes</div>
          <div class="panel-body">
          <h4>Ranking mensal</h4>
            <div ui-jq="plot" ui-options="
              {{d3_c}},
              {
                series: { pie: { show: true, innerRadius: 0.5, stroke: { width: 0 }, label: { show: true, threshold: 0.05 } } },
                colors: ['{{app.color.primary}}','{{app.color.info}}','{{app.color.success}}','{{app.color.warning}}','{{app.color.danger}}'],
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#000' },   
                tooltip: true,
                tooltipOpts: { content: '%s: %p.0%' }
              }
            " style="height:240px"></div>
            <h4>Resumo Diário</h4>
            <table class="table table-striped m-b-none">
          <thead>
            <tr>
              <th style="width:60px;" class="text-center">Histórico</th>
              <th>Vendedor</th>                    
              <th>Valor</th>                    
            </tr>
          </thead>
          <tbody>
            <tr>                    
              <td>
               <div ng-init="data3=[ 16,15,15,14,17,18,16,15,16 ]" ui-jq="sparkline" ui-options="[16,0,0,0,17,0,0,0,0], {type:'line', height:19, width:60, lineColor:'#7266ba', fillColor:'#fff'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
              </td>
              <td>                <span class="label bg-success">1</span>
 R&M Construções</td>
              <td > R$ 20.000</td>

            </tr>
            <tr>                    
              <td>
               <div ng-init="data3=[ 16,15,15,14,17,18,16,15,12 ]" ui-jq="sparkline" ui-options="[ 0,0,0,15,0,16,0,0,0 ], {type:'line', height:19, width:60, lineColor:'#7266ba', fillColor:'#fff'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
              </td>
              <td> <span class="label bg-warning">2</span> Solutions Engenharia</td>
              <td > R$ 12.000</td>

            </tr>
            <tr>                    
              <tr>                    
              <td>
                 <div ng-init="data3=[ 13,14,15,13,12,11,14,12,11 ]" ui-jq="sparkline" ui-options="[ 0,0,0,0,0,0,0,0,11 ], {type:'line', height:19, width:60, lineColor:'#7266ba', fillColor:'#fff'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
              </td>
              <td> <span class="label bg-danger">3</span> José Reginaldo Faria </td>
              <td > R$ 1.800</td>
              
            </tr>
            <tr> 
           
          </tbody>
        </table>
          </div>
        </div>
          <br>
             
        </div>
        
      </div>
    </div>
  </div>
  <!-- / main -->
  
  <!-- / right col -->
</div>